// General containers layout
body {
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
    background-color: #333;
}

.nav {
    background-color: #333;
    overflow: hidden;
}

.movie-list-container{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.movie-list{
    transition: all 1s ease-in-out;
}

.movie-item{
    height: 300px;
    width: 200px;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
}

.movie-details-container{
    overflow: hidden;
    padding-left: 90px;
    padding-right: 90px;
}

.movie-poster{
    background-color: gray;
    float:left; 
    margin-right:20px;
    width: 350px;
    height: 500px;
    border-right:2px solid #000;
}

.movie-details{
    overflow:hidden;
    color: white;
    padding: 10px;
    min-height:170px;
}

@media screen and (max-width: 400px) {
    .movie-poster { 
        float: none;
        margin-right:0;
        width:auto;
        border:0;
        border-bottom:2px solid #000;    
    }
}


//

.nav a {

    color: inherit;
    text-decoration: none;
}

.right-nav li {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

.active-movie {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}
